<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<body>
<div id="app">
    <table>
        <thead>
            <tr>
                <td>id</td>
                <td>name</td>
                <td>age</td>
                <td>address</td>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(item,index) in items">
                <td>{{index+1}}</td>
                <td>{{item.name}}</td>
                <td>{{item.age}}</td>
                <td>{{item.address}}</td>
            </tr>
        </tbody>
    </table>
    <table>
        <thead>
        <tr>
            <td>id</td>
            <td>name</td>
            <td>age</td>
            <td>address</td>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(item,index) in news">
            <td>{{index+1}}</td>
            <td>{{item.name}}</td>
            <td>{{item.age}}</td>
            <td>{{item.address}}</td>
        </tr>
        </tbody>
    </table>
</div>
<script>
    let app = new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue!',
            items:[
                {name:'小明',age:27,address:'北京'},
                {name:'小红',age:25,address:'上海'},
                {name:'小花',age:32,address:'广州'}
            ],
            news:[
                {name:'小明',age:27,address:'北京'},
            ]
        },
    });
    setInterval(function () {
        app.news.push({'name':'小明','age':27,'address':'北京'})
    },1000);
</script>
</body>
</html>